@{ 
    var rowId = Guid.NewGuid();
}

<tr id="@rowId" class="form-group">
    <td><input type="text" list="Products" id="ProductId-@rowId" class="form-control" onchange="OnProductChanged(@rowId)" /></td>
    <td><input type="text" id="Quantity-@rowId" class="form-control" /></td>
    <td><input type="text" list="Units" id="UnitSizeId-@rowId" class="form-control" /></td>
    <td><button type="button" onclick="RemoveItem('@rowId')" class="btn btn-danger">Remove</button></td>
    <td><input type="hidden" name="Items.Index" value="@rowId" /></td>
</tr>